@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");

:root {
  --bg: #f1efe7;
  --fg: #1f1f1f;
  --loader-bg: #e0e0d8;
  --stroke: rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PP Neue Montreal";
  color: var(--fg);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: -0.1rem;
  line-height: 1.1;
}

h2 {
  font-size: 1.75rem;
  font-weight: 500;
  letter-spacing: -0.02rem;
  line-height: 1.1;
}

a,
p {
  color: var(--fg);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  overflow: hidden;
  line-height: 1;
}

.hero {
  position: relative;
  width: 100vw;
  height: 100svh;
  background-color: var(--bg);
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--loader-bg);
  transform-origin: bottom;
  transform: scaleY(0%);
}

.counter {
  position: fixed;
  right: 3rem;
  bottom: 2rem;
  display: flex;
  height: 120px;
  font-size: 120px;
  line-height: 150px;
  -webkit-text-stroke: 2px var(--fg);
  clip-path: polygon(0 0, 100% 0, 100% 120px, 0 120px);
}

.counter-1,
.counter-2,
.counter-3 {
  position: relative;
  top: -15px;
}

.num1offset1 {
  position: relative;
  right: -30px;
}

.num1offset2 {
  position: relative;
  right: -15px;
}

.images-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.images-container .img {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  width: 20%;
  aspect-ratio: 5/3;
  border-radius: 0.75rem;
  overflow: hidden;
}

.images-container .img.animate-out {
  top: unset;
  left: unset;
  bottom: 1.5rem;
  right: 1.5rem;
}

.divider {
  background-color: var(--stroke);
}

nav {
  position: relative;
  width: 100vw;
  height: 5rem;
  padding: 1.5rem 1.5rem 1.5rem 7.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-name a {
  font-size: 1.5rem;
}

.nav-items,
.links {
  display: flex;
  align-items: center;
}

.nav-items {
  gap: 7.5rem;
}

.links {
  gap: 0.5rem;
}

nav .divider {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  transform-origin: left;
  transform: scaleX(0%);
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 5rem;
  height: 100svh;
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.sidebar .logo {
  width: 2rem;
  aspect-ratio: 1;
  transform: scale(0);
}

.sidebar .divider {
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100svh;
  transform-origin: top;
  transform: scaleY(0%);
}

.header {
  position: absolute;
  top: 35%;
  left: 7.5rem;
  transform: translateY(-50%);
  width: 60%;
}

.site-info {
  position: absolute;
  right: 1.5rem;
  top: 60%;
  transform: translateY(-50%);
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.site-info .divider {
  width: 100%;
  height: 1px;
  transform-origin: left;
  transform: scaleX(0%);
}

.site-info-copy {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.hero-footer {
  position: absolute;
  bottom: 1.5rem;
  left: 7.5rem;
}

.line {
  overflow: hidden;
}

.line span {
  position: relative;
  display: block;
  transform: translateY(125%);
  will-change: transform;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 2.5rem;
    letter-spacing: -0.05rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  nav .links {
    display: none;
  }

  .images-container .img {
    width: 30%;
  }

  .header {
    top: 25%;
    width: calc(100% - 12.5rem);
  }

  .site-info {
    width: calc(100% - 12.5rem);
    right: unset;
    left: 7.5rem;
  }
}
