@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --base-100: #fff;
  --base-200: #3a3a3a;
  --base-300: #0f0f0f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--base-300);
  color: var(--base-100);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-family: "LK_Ternima", "DM Sans", sans-serif;
  line-height: 1;
}

a,
p {
  text-decoration: none;
  color: var(--base-100);
  font-family: "DM Sans", sans-serif;
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 1;
}

.preloader-counter {
  position: fixed;
  top: 50svh;
  left: 2rem;
  transform: translateY(-50%) scale(0.25);
  transform-origin: left bottom;
  will-change: transform;
  z-index: 2;
}

.preloader-counter h1 {
  font-size: clamp(2.5rem, 25vw, 25rem);
}

nav {
  position: fixed;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 1;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.hero {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  will-change: clip-path;
  z-index: -1;
}

.hero-bg img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  will-change: transform;
}

.header {
  position: absolute;
  bottom: 4rem;
  width: 100%;
  padding: 2rem;
}

.header h1 {
  font-size: clamp(5rem, 18.5vw, 20rem);
}

.hero-footer {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.progress-bar {
  position: absolute;
  left: 2rem;
  bottom: 6rem;
  width: calc(100% - 4rem);
  height: 1.5px;
  background-color: var(--base-200);
  transform-origin: left;
  transform: scaleX(0);
  will-change: transform;
  overflow: hidden;
}

.progress-bar .progress {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--base-100);
  transform-origin: left;
  transform: scaleX(0);
  will-change: transform;
}

.word,
.char,
.digit {
  position: relative;
  will-change: transform;
}

.header h1 .char {
  transform: translateX(100%);
}

nav a .word,
.hero-footer p .word {
  transform: translateY(100%);
}

@media (max-width: 1000px) {
  .nav-links {
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
  }

  .header {
    bottom: unset;
    top: 50svh;
    display: flex;
    justify-content: center;
    transform: translateY(-50%);
  }

  .header h1 {
    font-size: 4rem;
  }
}
