* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PP Neue Montreal", sans-serif;
  background-color: #1e1e1e;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

h1 {
  color: #fff;
  font-size: 5vw;
  font-weight: 500;
  user-select: none;
}

p {
  text-transform: uppercase;
  text-align: center;
  font-family: "Akkurat Mono", monospace;
  font-weight: 600;
  user-select: none;
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.trail-container {
  background-color: #fcfcfc;
}

.trail-img {
  position: absolute;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  transform-origin: center;
  pointer-events: none;
  will-change: transform;
}