* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  overflow: hidden;
}

nav {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
}

nav > a {
  color: rgb(184, 184, 184);
  font-family: "Neue Montreal", sans-serif;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  padding: 2em 0.4em;
  font-weight: 500;
  mix-blend-mode: difference;
  text-align: center;
}

nav > a:hover {
  color: #fff;
}

nav > a > span {
  position: relative;
  z-index: 2;
  width: 400px;
}

nav a .img-wrapper {
  position: absolute;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 250ms;
  pointer-events: none;
  width: 300px;
  height: 400px;
  overflow: hidden;
}

nav a img {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  transform: scale(2.5);
  transition: transform 2000ms cubic-bezier(0.075, 0.82, 0.165, 1.5),
    opacity 250ms;
  pointer-events: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

nav a:hover .img-wrapper {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

nav a:hover img {
  opacity: 1;
  transform: scale(1.5);
}
