* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "PP Editorial Old";
  background-color: #000;
  color: #fff;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.count-wrapper {
  position: relative;
  width: 180px;
  height: 360px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  will-change: transform;
}

.count {
  position: relative;
  width: 1080px;
  height: 360px;
  display: flex;
  justify-content: space-between;
  transform: translateX(-1080px);
  will-change: transform;
}

.digit {
  position: relative;
  width: 180px;
  height: 360px;
}

.digit h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  font-size: 360px;
  font-weight: lighter;
  line-height: 1;
}

.revealer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.site-info {
  position: absolute;
  top: 2em;
  left: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.125em;
}

.line {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  height: 18px;
}

.line p {
  position: relative;
  font-family: "PP Neue Montreal";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.125px;
  opacity: 0.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translateY(18px);
  will-change: transform;
}

.toggle-btn {
  position: absolute;
  top: 2em;
  right: 2em;
  width: 60px;
  height: 50px;
  background: #fff;
  border-radius: 100%;
  transform: scale(0);
}

.toggle-btn img {
  transform: scale(0.5);
}

.header {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1em;
  transform-style: preserve-3d;
  perspective: 2000px;
}

.header h1 {
  position: relative;
  font-size: 25vw;
  font-weight: lighter;
  letter-spacing: -0.02em;
  line-height: 0.85;
  transform: rotateY(60deg);
  transform-origin: bottom left;
  will-change: transform;
  opacity: 0;
}
