:root {
  --color-border: rgba(255, 255, 255, 0.2);
  --color-link: #a4a4a4;
  --color-btn-grad-1: rgba(10, 9, 16, 0.5);
  --color-btn-grad-2: rgba(29, 29, 29, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url(./bg.jpg) no-repeat 50% 50%;
  background-size: cover;
  font-family: "SF Pro Display";
}

p {
  margin: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-family: "PP Supply Mono";
  font-weight: 400;
  color: gray;
}

a {
  text-decoration: none;
  color: var(--color-link);
  pointer-events: none;
}

.btn {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2em;
  width: max-content;
  padding: 0.75rem 1.25rem;
  backdrop-filter: blur(5px);
  border: 1px solid var(--color-border);
  border-radius: 1rem;
  color: #fff;
  background: linear-gradient(
    0deg,
    var(--color-btn-grad-1) 0%,
    var(--color-btn-grad-2) 100%
  );
  cursor: pointer;
}

.send {
  color: #fff;
  opacity: 1;
  display: block;
}

.link {
  width: 100%;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  cursor: pointer;
  overflow: hidden;
}

.link-content {
  white-space: nowrap;
}

.link#active {
  background: #fff;
}

.link#active a {
  color: #000;
}

.links {
  opacity: 0;
  display: none;
}
