* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "ITC Franklin Gothic Std";
  background: #151620;
}

a,
p {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
}

.garage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 2.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.nav-items {
  display: flex;
  gap: 2em;
}

.logo {
  background-color: #ffe940;
  padding: 0.5em 0.5em 0em 0.5em;
  border-radius: 4px;
}

.logo a {
  font-size: 24px;
  font-weight: bolder;
  color: #000;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 2.5em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

footer p:nth-child(1) {
  width: 360px;
}
