* {
  box-sizing: border-box;
}

body {
  background: white;
  width: 100vw;
  height: 100vh;
  background: #000;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.marquee {
  width: 100%;
  padding-top: 4em;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}
.marquee span {
  font-family: "Thunder";
  font-weight: 700;
  color: #f3f7a8;
  font-size: 28em;
  text-transform: uppercase;
  display: inline-block;
  padding-left: -10%;
  animation: marquee-animation 80s linear infinite;
}

@keyframes marquee-animation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

section img {
  width: 10%;
  object-fit: cover;
}

.img-1 {
  position: absolute;
  bottom: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.img-2 {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(-50%, -50%);
}

.navbar {
  width: 80%;
  margin: 0 auto;
  color: #fff;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: 300;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

img {
  width: 60px;
}

.header {
  width: 80%;
  margin: 0 auto;
  padding: 8em 2em 0 2em;
  font-family: sans-serif;
  color: #f3f7a8;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.4;
}

.menu-btn {
  line-height: 60px;
}
