@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "TWK Lausanne", "Inter", sans-serif;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  color: #fff;
  font-size: 7rem;
  font-weight: 400;
  letter-spacing: -0.2rem;
  line-height: 1;
}

a,
p {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  user-select: none;
}

nav {
  position: fixed;
  width: 100vw;
  padding: 2.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.logo a {
  font-weight: 600;
}

.menu-toggle {
  position: relative;
  width: 3rem;
  height: 1.5rem;
  cursor: pointer;
}

.menu-toggle p {
  position: absolute;
  transform-origin: top left;
  will-change: transform, opacity;
}

.menu-overlay {
  position: fixed;
  width: 100vw;
  height: 100svh;
  background-color: #0f0f0f;
  z-index: 1;
}

.menu-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: left bottom;
  will-change: opacity, transform;
}

.menu-items,
.menu-footer {
  width: 100%;
  padding: 2.5em;
  display: flex;
  gap: 2.5em;
}

.col-lg {
  flex: 3;
}

.col-sm {
  flex: 2;
}

.menu-items .col-lg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-preview-img {
  position: relative;
  width: 45%;
  height: 100%;
  overflow: hidden;
}

.menu-preview-img img {
  position: absolute;
  will-change: transform, opacity;
}

.menu-items .col-sm {
  padding: 2.5em 0;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

.menu-links,
.menu-socials {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.link,
.social {
  padding-bottom: 6px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.link a,
.social a {
  display: inline-block;
  will-change: transform;
  transition: color 0.5s;
}

.link a {
  font-size: 3.5rem;
  letter-spacing: -0.02rem;
}

.social a {
  color: #8f8f8f;
}

.social a:hover {
  color: #fff;
}

.menu-footer {
  position: absolute;
  bottom: 0;
}

.menu-footer .col-sm {
  display: flex;
  justify-content: space-between;
}

.link a::after,
.social a::after,
.menu-footer a::after {
  position: absolute;
  content: "";
  top: 102.5%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s cubic-bezier(0.6, 0, 0.4, 1);
}

.link a:hover::after,
.social a:hover::after,
.menu-footer a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  will-change: transform;
  transform-origin: right top;
}

.hero {
  position: relative;
  width: 100vw;
  height: 100svh;
  padding: 2.5em;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  z-index: -1;
}

.hero h1 {
  width: 80%;
}

.menu-toggle p#menu-close {
  opacity: 0;
  transform: translateX(-5px) translateY(10px) rotate(5deg);
}

.link a,
.social a {
  transform: translateY(120%);
  opacity: 0.25;
}

.menu-content {
  transform: translateX(-100px) translateY(-100px) scale(1.5) rotate(-15deg);
  opacity: 0.25;
}

.menu-overlay {
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

@media (max-width: 900px) {
  .hero h1 {
    width: 100%;
    font-size: 4rem;
    letter-spacing: 0;
  }

  .menu-items .col-lg {
    display: none;
  }

  .link a::after,
  .social a::after,
  .menu-footer a::after {
    display: none;
  }
}
