@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Host Grotesk";
  background: #000;
}

p,
a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "IBM Plex Mono";
  font-size: 11px;
}

.menu-toggle-btn {
  position: fixed;
  bottom: -6rem;
  left: 50%;
  transform: translateX(-50%);
  width: 25rem;
  height: 10rem;
  padding-top: 2rem;
  border-radius: 50% 50% 0 0 / 90% 90% 0 0;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
}

.menu-toggle-btn .hamburger-bar {
  width: 2rem;
  height: 0.125rem;
  background-color: #000;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 100;
}

.menu-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(/menu.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.menu-overlay-nav,
.menu-overlay-footer {
  position: absolute;
  width: 100vw;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-overlay-nav {
  top: 0;
}

.menu-overlay-footer {
  bottom: 0;
}

.close-btn {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.close-btn .close-btn-bar {
  position: absolute;
  top: 50%;
  width: 1.5rem;
  height: 0.125rem;
  background-color: #fff;
}

.close-btn .close-btn-bar:nth-child(1) {
  transform: rotate(45deg);
}

.close-btn .close-btn-bar:nth-child(2) {
  transform: rotate(-45deg);
}

.menu-overlay-items {
  display: flex;
  gap: 1rem;
}

.menu-overlay-nav .menu-overlay-items a {
  font-size: 18px;
}

.circular-menu {
  position: relative;
  width: 600px;
  height: 600px;
  z-index: 10;
}

.joystick {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: grab;
  z-index: 100;
}

.center-icon {
  position: absolute;
  color: #000;
  font-size: 12px;
}

.center-main {
  font-size: 30px;
}

.center-up {
  top: 0.75rem;
  left: 50%;
  transform: translateX(-50%);
}

.center-down {
  bottom: 0.75rem;
  left: 50%;
  transform: translateX(-50%);
}

.center-left {
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
}

.center-right {
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
}

.menu-segment {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  cursor: pointer;
}

.segment-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-align: center;
}

.segment-content ion-icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.label {
  text-transform: none;
  font-family: "Host Grotesk";
  font-size: 15px;
  font-weight: 500;
}

.menu-segment:hover {
  animation: flickerHover 350ms ease-in-out forwards;
  z-index: 10;
}

.menu-segment:hover .segment-content {
  animation: contentFlickerHover 350ms ease-in-out forwards;
}

.menu-overlay {
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 1000px) {
  .segment-content ion-icon {
    font-size: 20px;
  }
}

@keyframes flickerHover {
  0% {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
  }
  12% {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
  }
  24% {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(18px);
  }
  36% {
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(5px);
  }
  48% {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
  }
  60% {
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(3px);
  }
  72% {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(12px);
  }
  84% {
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(2px);
  }
  100% {
    background: rgba(255, 255, 255, 1);
    backdrop-filter: blur(0px);
  }
}

@keyframes contentFlickerHover {
  0% {
    color: white;
    opacity: 1;
  }
  12% {
    color: #333;
    opacity: 0.4;
  }
  24% {
    color: white;
    opacity: 0.9;
  }
  36% {
    color: #333;
    opacity: 0.3;
  }
  48% {
    color: white;
    opacity: 0.8;
  }
  60% {
    color: #333;
    opacity: 0.2;
  }
  72% {
    color: white;
    opacity: 0.7;
  }
  84% {
    color: #333;
    opacity: 0.1;
  }
  100% {
    color: #000;
    opacity: 1;
  }
}
