* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #0e0e0e;
}

.wrapper-img {
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 600px;
  height: 360px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box {
  background: #0e0e0e;
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.container {
  position: fixed;
  width: 100%;
  height: 100vh;
}

nav {
  position: fixed;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

.nav-items {
  display: flex;
}

nav a,
.menu-toggle {
  position: relative;
  top: 0;
  padding: 0 4em;
  text-decoration: none;
  font-family: "Krona One";
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
}

#logo a {
  color: #9e764e;
  margin-right: 8em;
}

@media (max-width: 900px) {
  .nav-items div:not(:first-child) {
    display: none;
  }

  nav a,
  .menu-toggle {
    padding: 0 2em;
  }
}

section.bottom-nav {
  position: absolute;
  bottom: 1em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3em;
}

.about {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about a {
  text-decoration: none;
  color: #fff;
  font-family: "Krona One";
  text-transform: uppercase;
  font-size: 10px;
}

.about a span {
  color: #9e764e;
}

.about p {
  width: 30%;
  font-family: "Neue Montreal";
  color: gray;
  font-size: 12px;
}

.location {
  position: relative;
  width: 30%;
  height: 60px;
  background: #272727;
  color: #fff;
  font-family: "Neue Montreal";
  font-size: 10px;
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
}

.country,
.year {
  padding: 0.4em;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  font-family: "Krona One";
}

.country span {
  padding: 0.8em;
}

.year {
  width: 40%;
  background: #181818;
}

.year span {
  padding: 0.8em;
}

@media (max-width: 900px) {
  .location {
    display: none;
  }

  .about {
    width: 100%;
  }
}

.hero {
  position: relative;
  top: 25%;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header {
  position: relative;
  top: 40px;
  font-size: 15vw;
  font-family: "Tusker Grotesk 2700 Bold";
}

.slider {
  width: 50%;
  margin: 0 3em;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.slider-copy {
  position: relative;
  top: -2em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1em 2em;
}

.slider-hr {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
}

.index {
  font-family: "Krona One";
  font-size: 10px;
}

ion-icon {
  padding: 0.8em;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  color: gray;
}

.copy {
  font-family: "Krona One";
  font-size: 10px;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  .slider-copy {
    display: none;
  }
}
