* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Aeonik";
  background: #0f0f0f;
  color: #fff;
}

h1 {
  font-weight: 500;
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 2em;
}

.nav {
  position: fixed;
  width: 100%;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 2em;
}

.items {
  position: absolute;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  padding: 0.25em 0.5em;
  cursor: pointer;
}

.item-index {
  flex: 1;
}

.item-name {
  flex: 4;
}

.item-year {
  flex: 1;
}

.overlay {
  position: absolute;
  bottom: -1200px;
  right: 0;
  width: 70%;
  height: 700px;
  padding: 2em;
  background: #fff;
  color: #000;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 2;
  will-change: bottom;
  transform: translateZ(0) rotate(20deg);
  transform-origin: bottom center;
}

.overlay::-webkit-scrollbar {
  display: none;
}

.img-container {
  width: 100%;
  padding-bottom: 2em;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2em 0;
}

.col:nth-child(1) {
  flex: 3;
}

.col:nth-child(2) {
  flex: 2;
}

#close-btn {
  cursor: pointer;
  opacity: 0.4;
}

.item-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em 0 4em 0;
}

.item-details p:nth-child(1) {
  flex: 3;
}

.item-details p:nth-child(2) {
  flex: 2;
}

@media (max-width: 900px) {
  .items {
    width: 100%;
    bottom: 8em;
  }

  .overlay {
    width: 100%;
    height: 100vh;
  }
}
