body {
  background-color: #fff;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  cursor: crosshair;
}

#gallery {
  height: 75vmax;
  width: 95vmax;
  position: relative;
}

.block {
  position: absolute;
  width: 150px;
  height: 200px;
  z-index: 1;
}

.block:hover {
  z-index: 2;
}

.block:nth-child(1) {
  top: 0;
  left: 10%;
  background: url("./assets/1.jpeg") no-repeat 50% 50%;
  background-size: cover;
}

.block:nth-child(2) {
  top: 5%;
  left: 0%;
  background: url("./assets/2.jpeg") no-repeat 50% 50%;
  background-size: cover;
}

.block:nth-child(3) {
  top: 25%;
  left: 15%;
  background: url("./assets/3.jpeg") no-repeat 50% 50%;
  background-size: cover;
}
.block:nth-child(4) {
  top: 50%;
  left: 10%;
  background: url("./assets/4.jpeg") no-repeat 50% 50%;
  background-size: cover;
}
.block:nth-child(5) {
  top: 8%;
  left: 20%;
  background: url("./assets/5.jpeg") no-repeat 50% 50%;
  background-size: cover;
}
.block:nth-child(6) {
  top: 40%;
  left: 0%;
  background: url("./assets/6.jpeg") no-repeat 50% 50%;
  background-size: cover;
}
.block:nth-child(7) {
  top: 65%;
  left: 3%;
  background: url("./assets/7.jpeg") no-repeat 50% 50%;
  background-size: cover;
}
.block:nth-child(8) {
  top: 75%;
  left: 20%;
  background: url("./assets/8.jpeg") no-repeat 50% 50%;
  background-size: cover;
}
.block:nth-child(9) {
  top: 0;
  left: 35%;
  background: url("./assets/9.jpeg") no-repeat 50% 50%;
  background-size: cover;
}
.block:nth-child(10) {
  top: 25%;
  left: 40%;
  background: url("./assets/10.jpeg") no-repeat 50% 50%;
  background-size: cover;
}
.block:nth-child(11) {
  bottom: 0;
  right: 35%;
  background: url("./assets/11.jpeg") no-repeat 50% 50%;
  background-size: cover;
}
.block:nth-child(12) {
  bottom: 75%;
  right: 20%;
  background: url("./assets/12.jpeg") no-repeat 50% 50%;
  background-size: cover;
}
.block:nth-child(13) {
  bottom: 65%;
  right: 3%;
  background: url("./assets/13.jpeg") no-repeat 50% 50%;
  background-size: cover;
}
.block:nth-child(14) {
  bottom: 35%;
  right: 45%;
  background: url("./assets/14.jpeg") no-repeat 50% 50%;
  background-size: cover;
}
.block:nth-child(15) {
  bottom: 40%;
  right: 0%;
  background: url("./assets/15.jpeg") no-repeat 50% 50%;
  background-size: cover;
}
.block:nth-child(16) {
  bottom: 8%;
  right: 20%;
  background: url("./assets/16.jpeg") no-repeat 50% 50%;
  background-size: cover;
}
.block:nth-child(17) {
  bottom: 50%;
  right: 5%;
  background: url("./assets/17.jpeg") no-repeat 50% 50%;
  background-size: cover;
}
.block:nth-child(18) {
  bottom: 25%;
  right: 15%;
  background: url("./assets/18.jpeg") no-repeat 50% 50%;
  background-size: cover;
}
.block:nth-child(19) {
  bottom: 5%;
  right: 3%;
  background: url("./assets/19.jpeg") no-repeat 50% 50%;
  background-size: cover;
}
.block:nth-child(20) {
  bottom: 0;
  right: 10%;
  background: url("./assets/20.jpeg") no-repeat 50% 50%;
  background-size: cover;
}
.block:nth-child(21) {
  top: 2%;
  left: 50%;
  background: url("./assets/21.jpeg") no-repeat 50% 50%;
  background-size: cover;
}
.block:nth-child(22) {
  top: 35%;
  left: 63%;
  background: url("./assets/22.jpeg") no-repeat 50% 50%;
  background-size: cover;
}
.block:nth-child(23) {
  top: 45%;
  left: 25%;
  background: url("./assets/23.jpeg") no-repeat 50% 50%;
  background-size: cover;
}
.block:nth-child(24) {
  top: 60%;
  left: 27%;
  background: url("./assets/24.jpeg") no-repeat 50% 50%;
  background-size: cover;
}
.block:nth-child(25) {
  top: 12%;
  left: 70%;
  background: url("./assets/25.jpeg") no-repeat 50% 50%;
  background-size: cover;
}
.block:nth-child(26) {
  bottom: 12%;
  right: 70%;
  background: url("./assets/26.jpeg") no-repeat 50% 50%;
  background-size: cover;
}
