* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "PP Neue Montreal";
  background: #000;
  cursor: none;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1,
p,
a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}

h1 {
  font-size: 36px;
}

p,
a {
  font-size: 16px;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 100%;
  pointer-events: none;
  z-index: 2;
}

.cursor p {
  font-size: 12px;
  text-transform: uppercase;
}

.story-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  opacity: 0.5;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.story-content {
  position: absolute;
  padding: 4em 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.indices {
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25em;
}

.index {
  position: relative;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.25);
}

.index-highlight {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #fff;
  transform: scaleX(100%);
}

.profile {
  width: 100%;
  height: 60px;
  display: flex;
  gap: 1em;
  align-items: center;
}

.profile-icon {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
}

.profile-name {
  position: relative;
  width: 200px;
  height: 20px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.title-row {
  position: relative;
  width: 100%;
  height: 42px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.link {
  position: relative;
  width: max-content;
  margin: 2em 0;
  padding: 0.25em 0;
}

.link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
}

.title-row h1,
.profile-name p {
  position: absolute;
  top: 0;
}

@media (max-width: 900px) {
  html,
  body {
    cursor: default;
  }

  .story-content {
    width: 100%;
    padding: 2em;
  }

  .cursor {
    display: none;
  }
}
