* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #0f0f0f;
}

.header {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

h1 {
  text-align: center;
  font-family: "PP Editorial New";
  font-weight: lighter;
  color: #fff;
  font-size: 50px;
  margin-bottom: 20px;
}

button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "SF Pro Display";
  font-weight: 400;
  color: #fff;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 30px;
  padding: 15px 30px;
  outline: none;
  box-shadow: none;
}

.gallery {
  width: 100%;
  height: 100%;
}

.item {
  position: absolute;
  width: 200px;
  height: 275px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.link {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  width: 30px;
  height: 30px;
  background: #000;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.link a {
  text-decoration: none;
  color: #fff;
}

i {
  position: relative;
  top: 1.5px;
}
