@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e3e3db;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: -0.01rem;
}

nav,
footer {
  position: fixed;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

nav {
  top: 0;
}

footer {
  bottom: 0;
}

.hero {
  position: relative;
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-img {
  position: relative;
  width: 700px;
  height: 500px;
  overflow: hidden;
}

.hover-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}

.grid-block {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  color: #e3e3db;
  font-family: "IBM Plex Mono", monospace;
  font-size: 20px;
  font-weight: 400;
  opacity: 0;
}

.grid-block.active {
  opacity: 1;
}
