* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Inter";
  cursor: url("./assets/cursor.svg") 32 32, auto;
}

.container {
  width: 100%;
  height: 100%;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ded7ce;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  will-change: clip-path;
  overflow: hidden;
  z-index: 1;
}

.loader {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #c5beb5;
  will-change: transform;
}

.emojis {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 2;
}

.emoji {
  position: absolute;
  background-color: #e3e3e3;
  border-radius: 100%;
  overflow: hidden;
  pointer-events: none;
  will-change: transform;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #faec6c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 0;
}

.nav {
  width: 100vw;
  display: flex;
  align-items: flex-start;
}

.nav > div {
  flex: 1;
  padding: 1.5em;
}

.site-info p {
  width: 450px;
  font-size: 18px;
  font-weight: 400;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 200px;
  object-fit: contain;
  transform: scale(0.5);
}

.menu-btn {
  display: flex;
  justify-content: flex-end;
}

.menu-btn img {
  width: 70px;
  object-fit: contain;
}

.hero-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 40%;
  aspect-ratio: 1;
  transform-origin: center;
  will-change: transform;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  padding: 1em 2em;
}

.header-row {
  position: relative;
  padding-top: 0.5em;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.header h1 {
  font-family: "Cy Grotesk";
  font-size: 9.5vw;
  font-weight: lighter;
  line-height: 90%;
}

.header h1 span {
  position: relative;
  display: inline-block;
  transform: translateY(200px);
}
