* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #111111;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  font-family: "Neue Montreal", Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  line-height: 100px;
  color: #fff;
}

.site-menu {
  display: flex;
}

.menu-item {
  margin-left: 60px;
}

.container {
  position: absolute;
  top: 120vh;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.2);
  width: 90vw;
  z-index: 2;
  animation: bounce 5s infinite ease-in-out;
  animation-delay: 5s;
}

@keyframes bounce {
  0% {
    top: 25vh;
  }
  50% {
    top: 30vh;
  }
  100% {
    top: 25vh;
  }
}

.hero-img img {
  width: 100%;
}

.title {
  margin-top: 100px;
  text-align: center;
  font-family: "Monument Extended";
  font-size: 7vw;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  overflow: hidden;
}

.title .letter {
  display: inline-block;
  line-height: 1em;
}

.prev-imgs {
  position: fixed;
  bottom: 5em;
  right: 30px;
  display: flex;
}

.prev-img {
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 10px;
}

.prev-1 {
  background: url("./images/prev-1.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.prev-2 {
  background: url("./images/prev-2.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.prev-3 {
  background: url("./images/prev-3.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.buy-now-cta {
  position: fixed;
  bottom: 4em;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy-now-cta button {
  background: rgb(28, 28, 28);
  border: none;
  outline: none;
  color: #fff;
  border-radius: 4px;
  font-family: "Neue Montreal";
  text-transform: uppercase;
  padding: 20px 40px;
  font-size: 12px;
}

.info {
  position: fixed;
  bottom: 5em;
  left: 40px;
  width: 400px;
}

.info p {
  color: #5e5e5e;
  text-decoration: none;
  font-family: "Neue Montreal";
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 12px;
}

.marquee {
  position: absolute;
  bottom: 0%;
  width: 100%;
  margin: 0 auto;
  padding: 0.4em 0;
  white-space: nowrap;
  overflow: hidden;
  z-index: 3;
  background: #000;
  display: flex;
  align-items: center;
}
.marquee span {
  font-family: "Monument Extended";
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  mix-blend-mode: normal !important;
  font-size: 2em;
  text-transform: uppercase;
  padding-left: -10%;
  animation: marquee-animation 80s linear infinite;
}

@keyframes marquee-animation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
